<section id="financiamiento">
  <h2 class="text-2xl text-slate-600 font-bold">Calcula tu Financiamiento</h2>
  <form id="financiamiento-form">
      <label for="precioAuto" class="text-lg text-slate-600 font-semibold">Precio del Auto ($):</label>
      <input type="text" id="precioAuto" [value]="unidadSelect?.precio" >

      <label for="enganche" class="text-lg text-slate-600 font-semibold">Enganche ($):</label>
      <input #enganche type="number" id="enganche" >

      <div class="relative z-0 w-full mb-5 group border p-1 rounded-md">

        <label for="enganche" class="text-lg text-slate-600 font-semibold">Unidad:</label>

        <select  name="" id="" class="w-full text-gray-500 " (change)="select()" [(ngModel)]="unidad" [ngModelOptions]="{standalone: true}">
          <option value="">Seleccione una unidad</option>
          <option [value]="item.code" *ngFor="let item of opUnidades">{{item.name}}</option>
        </select>

      </div>

      <!-- <label for="tasaInteres" class="text-lg text-slate-600 font-semibold">Tasa de Interés (2.2%):</label> -->

      <label for="plazo"class="text-lg text-slate-600 font-semibold">Plazo (hasta 60 meses):</label>
      <input #plazo  (input)="validar(plazo)"
       type="number" max="60" min="1" id="plazo" value="60" >

      <button type="button" class="rounded-md" (click)="calcularFinanciamiento()">Calcular</button>
  </form>
  <div id="resultadoFinanciamiento">en proceso</div>
</section>
<p-confirmDialog />
