<div class="px-2">
  <div class="flex flex-row mt-4">
    <img width="600px"
     src="https://media.istockphoto.com/id/1157655660/es/foto/suv-rojo-gen%C3%A9rico-sobre-un-fondo-blanco-vista-lateral.jpg?s=612x612&w=0&k=20&c=0I2xA9oCnNUfluy5m1ErkM4NwHQOkhDUr2HwKXNO1z8="
    class=""
     alt="cars">
     <div class="flex-1 flex flex-col p-4 border rounded">
      <div class="border-b mb-2 pb-2">
        <h1 class="text-slate-600 font-bold font-serif">Nombre del carro</h1>
        <span class="mt-1 text-sm text-slate-500 font-semibold">° 7767 km</span>
      </div>
      <div class="mb-1 ">
        <span class="text-sm text-slate-500 font-semibold">Precio desde</span>
        <p class="text-xl text-slate-600 font-bold font-serif">$783,233</p>
      </div>
      <div class="border-b mb-2 pb-2">
        <span class="text-sm text-slate-500 font-semibold">$4,050 /mes*</span>
        <p class="text-slate-600 font-bold font-serif">No incluye Tarifa de Servicio ni Tenencia 2024</p>
      </div>
      <div class="border-b mb-2 pb-2">
        <span class="text-sm text-slate-500 font-semibold">Año</span>
        <p class="text-slate-600 font-bold font-serif">2024</p>
      </div>
      <div class="border-b mb-2 pb-2">
        <span class="text-sm text-slate-500 font-semibold">Version</span>
        <p class="text-slate-600 font-bold font-serif">MED-23</p>
      </div>
      <div class="border-b mb-2 pb-2">
        <span class="text-sm text-slate-500 font-semibold">Stock</span>
        <p class="text-slate-600 font-bold font-serif">2</p>
      </div>
      <div class="border-b mb-2 pb-2 h-auto">
        <button routerLink="../../solicitud/12" class="bg-blue-700 p-3 text-slate-100 rounded-md border  w-full">Apartar</button>
      </div>
     </div>
  </div>
  <div class="mt-10 p-5">
    <div>
      <p class="text-2xl text-slate-700 font-bold">Descripción General</p>
    </div>
    <div class="mt-5 flex flex-row">
      <div class="flex-1 flex flex-col">
        <div class="pb-2 border-b m-1">
          <label for="">Label</label>
          <p>12232</p>
        </div>
        <div class="pb-2 border-b m-1">
          <label for="">Label</label>
          <p>12232</p>
        </div>
        <div class="pb-2 border-b m-1">
          <label for="">Label</label>
          <p>12232</p>
        </div>
      </div>
      <div class="flex-1 flex flex-col">
        <div class="pb-2 border-b m-1">
          <label for="">Label</label>
          <p>12232</p>
        </div>
        <div class="pb-2 border-b m-1">
          <label for="">Label</label>
          <p>12232</p>
        </div>
        <div class="pb-2 border-b m-1">
          <label for="">Label</label>
          <p>12232</p>
        </div>
      </div>
    </div>
  </div>

</div>
