<div class="bg-slate-600 p-5 flex flex-row justify-between items-center">
  <div class="text-slate-100 text-lg font-bold">CARSGET</div>
  <div class="nav">
    <ul class="flex justify-between items-center">
      <li  class="mr-1 p-1 cursor-pointer text-slate-100 border rounded-lg">
        <a routerLink="./inicio">Inicio</a>
      </li>
      <li class="mr-1 p-1 cursor-pointer text-slate-100 border rounded-lg">
        <a routerLink="./finaciamiento">Financiamiento</a>
      </li>
      <li class="mr-1 p-1 cursor-pointer text-slate-100 border rounded-lg">
        <a routerLink="./nosotros">Nosotros</a>
      </li>
    </ul>
  </div>
</div>
<div>

  <router-outlet></router-outlet>
</div>
